
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form_continer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

}

.form{
    background-color: #eee;
    width: 50vw;
    display: flex;
    justify-content: center;
    height: 80%;
    align-items: center;
    flex-direction: column;
    border: solid black 2px;
}

input{
    width: 50%;
    height: 50px;
    text-align: center;
    margin: 10px;
    font-weight: 300;
    font-size: 16px ;
}



.opertaor{
    background-color:rgb(197, 134, 255);
    height: 50px;
    width: 50px;
    padding: 10px;
    text-align: center;
    font-size: 26px;
    border-radius: 50%;
    outline: none;
}

button{
    padding: 10px;
    background-color: tomato;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 1px 1px 1px;
}

button:active{
    font-size: 16px;
    width: 50px;
    height: 50px;
    box-shadow: none;
}

#r1{
    background-color:silver;
}
